<!doctype html>
<html lang="en" style="height: 100%">
  <head>
    <meta charset="utf-8">
    <title>ota</title>
    <meta name="description" content="ota">
    <link href="/static/reset.css" rel="stylesheet" type="text/css"/>
    <link href="/static/intro.css" rel="stylesheet" type="text/css"/>
  </head>
  {{ article "@main" }}
</html>
